.div {
     position: relative;
     margin-top: 6em;
}
.quote {
     color: white;
     font-family: 'Playfair Display SC';
     position: relative;
     font-size: 7vw;
     margin: 0;
     padding: 0;

}


@media (max-width: 790px) {
  .div{margin-top: 3em}
}

.box {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     text-align: center;
     width: 85%;
     border: 1px solid;
     color: white;
     height: 27vw;
}

@media (min-width: 1200px) {
     .quote {
          font-size: 5vw;
     }
}
@media (max-width: 1200px) {
     .box{
          height: 44vw;
     }
}
@media (max-width: 800px) {
     .div {
          margin-top: 3.5em;
     }
}