.box {
     position: relative;
     display: flex;
     flex-direction: column;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     width: 85%;
     border: 1px solid;
     top: -1px;
     color: white;
     height: min-content;
}

.header,
.address,
.link,
.openingtime,
.headeradress,
.openingtimeheader {
     font-family: 'Playfair Display SC';
     color: white;
}

.address,
.openingtime {
     font-size: 2em;
}

.headeradress,
.openingtimeheader {
     font-size: 3em;
}


.header {
     margin: 10px;
     font-size: 1.6em;
}

.building {
     position: relative;
     width: 760px;
     margin-left: 20px;
}

.container {
     position: relative;
     margin: 0 20px 20px 20px;
     width: 100%;
     text-align: center;
}

.container>ul>li {
     margin-top: 5px;
}

.container>ul {
     list-style: none;
     margin: 0;
     padding: 0;
     text-align: left;
     margin: 0px 0 0 40px;
}

.headeradress {
     margin: 0 0 0 20px;
     text-align: left;
}

.address {

     padding: 0;
     text-align: left;
     margin: 0 0 0 40px;
     font-variant-numeric: lining-nums;
}

.link {
     text-decoration: none;
     font-size: 1.2em;
     margin: 10px 0;
     position: relative;
}


.link:after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: white;
     transform-origin: bottom center;
     transition: transform 0.25s ease-out;
}

.link:hover:after {
     transform: scaleX(1);
     transform-origin: bottom center;
}


.div1 {
     display: flex;
     flex-direction: row;
     margin-bottom: 20px;

}

.div2 {
     display: flex;
     flex-direction: row;
     margin-bottom: 20px;
}

.maps {
     position: relative;
     width: 700px;
     left: 0;
     margin-right: 50px;
}

.openingtimeheader {
     margin: 0;
     font-variant-numeric: lining-nums;
     text-align: left;
}

.openingtime {
     margin: 0 0 0 20px;
     font-variant-numeric: lining-nums;
     text-align: left;
}

.openingtimediv {
     margin: 20px 0 0 20px;
     width: 100%;
     position: relative;
}
.navigator{
     position: relative;
     bottom: 73px;
     margin: 0;
     padding: 0;
     z-index: -50;
 }
@media (max-width: 1400px) {

     .address,
     .openingtime {
          font-size: 20px;
     }

     .link {
          font-size: 15px;
     }

     .headeradress,
     .openingtimeheader {
          font-size: 25px;
     }

     .maps {
          width: 50vw;
     }

     .building {
          width: 50vw;
     }

     .container {
          margin: 0 20px 20px 0px;
     }
}

@media (max-width: 780px) {

     .address,
     .openingtime {
          font-size: 23px;
     }

     .link {
          font-size: 17px;
     }

     .headeradress,
     .openingtimeheader {
          font-size: 30px;
     }
     .div1 {
          flex-direction: column;
          width: 100%;
     }

     .div2 {
          flex-direction: column-reverse;
          width: 100%;
     }

     .building,
     .maps {
          width: 90%;
          margin: 10px 5%;
     }
}