.div {
     position: relative;
}

.box {
     display: flex;
     flex-direction: column;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     width: 85%;
     border: 1px solid;
     border-top-width: 0;
     color: white;
     height: 27em;
}

.header {
     margin: 9px;
     font-family: 'Playfair Display SC';
     font-size: 1.5em;
}

.artists {
    height: 100%;
    display: flex;
}

.TattooArtist1 {
    width: 250px;
    height:300px;
    position: relative;
    margin-left: 40px;
}

.TA1ReferencePic1 {
    width: 11em;
    position: relative;
    margin-left: 20px;
    margin-bottom: 1.5em;
    height: 14em;
}

.TA1ReferencePic2 {
    width: 9em;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 19em;
    position: relative;
}

.TA1ReferencePic3 {
     width: 30em;
     height: 10em;

}

.TA1ReferencePic4 {
    margin-top: 10px;
    width: 34em;
    height: 12em;

}
.RowPics{
    display: flex;
    flex-direction: column;
    Margin-left: 15px;
}