.div {
     position: relative;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 85%;
    border: 1px solid;
    top: -1px;
    color: white;
    height: min-content;
}

.header {
     margin: 9px;
     font-family: 'Playfair Display SC';
     font-size: 1.5em;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    -ms-flex: 25%;
    flex: 24%;
    max-width: 25%;
    padding: 0 4px;
}

.Pic{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

