.nav {

     position: relative;
     width: 100%;
     margin: 0;
     padding: 0;
     left: 0;
}

.Linklist {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     margin: 13px 0 0 0;
     padding: 0;
     list-style: none;
}

.Linktext,
.LinkLogo,
.LanguageLink  {
     position: relative;
     text-decoration: none;
     color: white;
     font-family: 'Playfair Display SC';
     font-size: 1.5em;
}

.LanguageDiv {
     display: flex;
     flex-direction: row;
}

.LanguageLink {
     margin: 0 5px;
}

.LinkLogo {
     font-size: 1.9em;
}

.Linktext:after,
.LinkLogo:after,
.language:after{
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: white;
     transform-origin: bottom center;
     transition: transform 0.25s ease-out;
}

.Linktext:hover:after,
.LinkLogo:hover:after,
.language:hover:after{
     transform: scaleX(1);
     transform-origin: bottom center;
}

.language  {
    color: white;
    font-family: 'Playfair Display SC';
    font-weight: normal;
    margin: 5px;
    position: relative;
    text-decoration: none;
}
.language:hover {
    cursor: pointer;
}
.Radio {
    visibility: hidden;
    display: none;
}

.Radio:checked
 {
  text-decoration: underline;
}


.Stickynav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-bottom: 12px;
  background-color: black;
}