 @import url("../../Fonts.css");

.div {
     position: relative;
     height: 90vh;
     width: 100%;
     overflow: hidden;
     top: -5px;
     left: 0;
}

.vid {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
}

.yourtattoodiv {
     position: absolute;
     top: 9%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 0 1em;
     z-index: 1;
}

.headeryour,
.headertattoo,
.headerstudio {
     color: white;
       font-family: 'Playfair Display SC';
     margin: 0;
     font-size: 5.5vw;
     user-select: none;
}

.headerstudio {
     position: absolute;
     bottom: 20px; /* Abstand vom unteren Rand */
     left: 50%;
     transform: translateX(-50%);
     text-align: center;
     z-index: 1; /* Über dem Video */
}

@media (min-height: 1400px) {
     .div {
          height: 93vh;
     }
}

@media (min-height: 1700px) {
     .div {
          height: 95.5vh;
     }
}

@media (max-width: 860px) {
     .headeryour,
     .headertattoo,
     .headerstudio {
          font-size: 10vw;
     }
}
